<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/main">
<head>
    <meta charset="UTF-8"/>
    <title>Listar Editora</title>
</head>
<body>
<div layout:fragment="content">
    <div class="row">
        <div class="col-sm-12">
            <form th:action="@{/editora/buscar}" method="get">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4">
                        <input type="text" name="texto" class="form-control"/>
                    </div>
                    <div class="col-sm-4">
                        <button type="submit" class="btn btn-secondary">buscar</button>
                    </div>
                </div>
                <br />
            </form>
            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="editora:${editoras}">
                    <td th:text="*{editora.id}"></td>
                    <td th:text="*{editora.nome}"></td>
                    <td>
                        <div class="btn-group" role="group" aria-label="Ações">
                            <a th:href="@{/editora/editar/{id}(id=${editora.id})}" class="btn btn-info btn-sm">Editar</a>
                            <a th:href="@{/editora/delete/{id}(id=${editora.id})}" class="btn btn-danger btn-sm">Excluir</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item" th:classappend="${!editoras.hasPrevious()}? 'disabled'">
                        <a class="page-link" th:href="@{/editora(page=${editoras.getNumber()-1},size=${editoras.getSize()})}">Anterior</a>
                    </li>
                    <li class="page-item" th:classappend="${i == editoras.getNumber()}? 'active'"
                        th:each="i : ${#numbers.sequence( 0, editoras.getTotalPages()-1)}">
                        <a class="page-link"
                           th:href="@{/editora(page=${i},size=${editoras.getSize()})}"
                           th:text="${i+1}">1</a>
                    </li>
                    <li class="page-item" th:classappend="${!editoras.hasNext()}? 'disabled'">
                        <a class="page-link"
                           th:href="@{/editora(page=${editoras.getNumber()+1},size=${editoras.getSize()})}">Proxima</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <a th:href="@{/editora/novo}" class="btn btn-primary">Novo</a>
        </div>
    </div>
</div>
</body>
</html>